report.enabled = true
conda.enabled = true
singularity.enabled = true

process {
    executor = 'slurm'
    queue = { task.memory <= 240.GB ? 'amilan' : 'amem' }
    clusterOptions = {
      if (task.memory > 240.GB) {
        '--qos=mem'
      } else if (task.time > 24.h) {
        '--qos=long'
      } else {
        '--qos=normal'
      }
    }
    maxRetries = 0
    errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'finish' }
    resourceLimits = [
        cpus: 48,
        memory: 240.GB,
        time: 72.h
    ]
    withLabel:process_long {
        params.max_time = 96.h
        resourceLimits = [
            time: 168.h
        ]
    }
}
executor {
    name = 'slurm'
    queueSize = 1000
    perJobMemLimit = true
    submitRateLimit = '30 / 1 min'
    killBatchSize = 50
}

profiles {
  singularity {
    // actually enable it
    singularity {
      enabled  = true
      autoMounts = true
      cacheDir = '/pl/active/dashnowlab/projects/TR-benchmarking/cache'
    }
  }
}
